*{
    font-family: 'Noto Sans JP', sans-serif;

}

.header_inner {
    max-width: 1512px;
    height: 75px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E0DFDE;

}

.header_loge{
    text-decoration: none;
    color: hsl(28, 14%, 48%);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}