.confirm__content {
    color: #8B7969;
    width: 972px;
    margin: 0 auto;
    font-size: 20px;
}

.confirm__heading {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.confirm-table{
    height: 606px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-table_inner {

}

.confirm-table_row{
    width: fit-content;
    height: 100%;
    display: flex;
}

.confirm-table_header{
    display: inline-block;
    width: 400px;
    font-size: 20px;
}




.form__button {
    display: flex;
    justify-content: center;
}

.form__button-submit {
    width: 120px;
    height: 42px;
    font-size: 20px;
    background-color: #82756A;
    color: #ffffff;
    border: none;
}

.form__button-back{
    width: 120px;
    height: 42px;
    border: none;
    text-decoration-line: underline;
    background-color: #E0DFDE;
    color: hsl(28, 14%, 48%);
}