.contact__content {
    color: #8B7969;
    width: 972px;
    margin: 0 auto;
}

.contact__heading {
    display: flex;
    justify-content: center;
}

.contact_heading-logo{
    font-size: 35px;
    font-weight: normal;
    margin: 50px auto;
}

.form_frame {
    width: 972px;
    height: 606px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form_group {
    width: fit-content;
    height: 100%;
    display: flex;
}

.form_error {
    color: rgb(220, 0, 0);
    font-size: 15px;
}

.form_error-first{
    margin-right: 130px;
}

.form_group-title{
    display: inline-block;
    width: 400px;
    font-size: 20px;
}

.form__label--required {
    font-size: 20px;
    color: red;
}

.form_group-text_gender, .form_group-text{
    font-size: 18px;
}

input[type="radio"]{
    transform: scale(2);
    margin: 0 5px 10px 0;
    accent-color: #8B7969;
}

.form_group-text_gender-label{
    margin-right: 60px;
}

::placeholder{
    color: #BEB1A6;
    font-size: 14px;
}

select {
    color: #8B7969;
}

.form_group-text_name, .form_group-text_tel,
.form_group-text_categories{
    height: 36px;
    width: 270px;
    padding: 5px 0 5px 20px;
    margin-right: 10px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 3px;
}

.form_group-text_email, .form_group-text_address, .form_group-text_building{
    height: 36px;
    width: 550px;
    padding: 5px 0 5px 20px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 3px;
}

.form_group-text_content{
    width: 550px;
    padding: 5px 0 5px 20px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 3px;
}

.form__button {
    display: flex;
    justify-content: center;
}

.form__button-submit {
    width: 160px;
    height: 46px;
    font-size: 20px;
    background-color: #82756A;
    color: #ffffff;
    border: none;
}