body {
    font-family: 'Noto Sans JP', sans-serif;
}

.thanks{
    position: relative;
    max-width: 100%;
    height: 982px;
}

.thanks__content {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
}

.thanks__heading{
    padding: 30px 15px;
    font-size: 30px;
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
}

.thanks_button{
    text-align: center;
}

.thanks__button-home {
    width: 120px;
    height: 42px;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: #82756A;
    color: #ffffff;
}